{% extends "layout.html"%}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Bought/Sold</th>
      <th scope="col">Symbol</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
  {% for actie in acties %}
    <tr>
      <td>{{ actie.bought_sold }}</td>
      <td>{{ actie.symbol }}</td>
      <td>{{ actie.shares }}</td>
      <td>{{ actie.price }}</td>
      <td>{{ actie.date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}