{% extends "layout.html" %}

{% block title %}
	About
{% endblock %}

{% block main %}
<h_about><br><br><br><br><br><br><br><br><br>
	<div class=about_screen>
		<p><br><br><b><u>Welcome to FoodieMatch!</u></b></p>
		<br><br>
		<h1>What if... you're all alone at home and you're hungry but you don't know what to eat?<br><br>
		FoodieMatch has been created to match foodielovers based on their favourite recipes.<br>
		Create an account, upload your favourite meal and match with other people!<br>
		<br>
		This way you can meet up, cook, share recipes and enjoy delicious food!
		<br><br>
		Kind regards,<br>
		Team FoodieMatch</h1>
		<br>
	</div><br><br><br><br><br><br><br><br><br>
</h_about>
{% endblock %}