{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
<p><b><u>Account Details</u></b></p>
<p>eMail Address: {{ gegevens.email }}</p>
<p>Name: {{ gegevens.name }}</p>
<p>Town: {{ gegevens.town }}</p>
<br>

<p><b><u>Change Password</u></b></p>
    <form action="{{ url_for('password') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control"
                name="new" placeholder="New Password" type="password"/>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control"
                name="confirmation" placeholder="Confirm Password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Change</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
