{% extends "layout.html" %}

{% block title %}
	Forgot
{% endblock %}

{% block main %}
<div class="forgot">
	<h1> <br><br>
	<div class="forgot-screen"> <p1>Make a new password:</p1>
	<br><br>
		<form action="{{ url_for('forgot') }}" method="post">
			<fieldset>
				<div class="form-group">
					<input autocomplete="off" autofocus class="form-control"
					name="email" placeholder="E-mail" type="text"/>
				</div><br>
				<div class="form-group">
					<input autocomplete="off" autofocus class="form-control"
					name="name" placeholder="Name" type="text"/>
				</div><br>
				<div class="form-group">
					<input autocomplete="off" autofocus class="form-control"
					name="town" placeholder="Town" type="text"/>
				</div><br>
				<div class="form-group">
					<input class="form-control" name="new password" placeholder="New Password" type="password"/>
				</div><br>
				<div class="form-group">
					<input autocomplete="off" autofocus class="form-control"
					name="confirmation" placeholder="Confirmation" type="password"/>
				</div><br><br>
				<div class="form-group">
					<button class="button-login" type="submit">Reset</button>
				</div>
			</fieldset>
		</form>
		<br><br>
		</div>
	</h1>
</div>
	<script>
	    // no empty fields validation
        document.querySelector('form').onsubmit = function(){
            if (!document.querySelector("div.form-group input[name='email']").value) {
                alert('You must provide an email!');
                return false;
            }
            else if(!document.querySelector("div.form-group input[name='name']").value) {
            	alert('You must provide a name!');
                return false;
            }
            else if(!document.querySelector("div.form-group input[name='town']").value) {
            	alert('You must provide a town!');
                return false;
            }
            else if(!document.querySelector("div.form-group input[name='password']").value) {
            	alert('You must provide a new password!');
                return false;
            }
            else if(!document.querySelector("div.form-group input[name='confirmation']").value) {
            	alert('You must provide a confirmation password!');
                return false;
            }
            return true;
        };
    </script>
{% endblock %}