{% extends "layout.html" %}

{% block title %}
	Browse
{% endblock %}

{% block main %}
<br><br><br><br><br>
<img src="/{{ imageid }}" width="900" height="500" class="center">
<p>{{ title }}</p>
<p>{{ bio }}</p>
<p>{{ tags }}</p>
<br>

<form action="{{ url_for('index') }}" method="post">
		<fieldset>
			<div class="form-group">
				<button class="btn btn-default" name="like" type="submit" value="like">Like</button>
			</div>
		</fieldset>
</form>

<form action="{{ url_for('index') }}" method="post">
		<fieldset>
			<div class="form-group">
				<button class="btn btn-default" name="like" type="submit" value="dislike">Dislike</button>
			</div>
		</fieldset>
</form>
{% endblock %}