{% extends "layout.html" %}

{% block title %}
	Browse
{% endblock %}

{% block main %}
<h5>
	<br>
	<div class="index_screen">
		<br>
		<p>{{ title }}</p><br>
		<img class="responsivephoto"src="/{{ imageid }}">
		<br>
		<br>
		<p>{{ bio }}<br><br>
		Possible Food Allergies:<br>
		{{ tags }}</p>
		<br><br>
	</div>

<form action="{{ url_for('index') }}" method="post">
		<fieldset>
			<div class="container-left">
			  <button id="left" name="like" type="submit" value="dislike"></button>
			  <span class=disliketext>Dislike this Recipe!</span>
			</div>
		</fieldset>
</form>

<form action="{{ url_for('index') }}" method="post">
		<fieldset>
			<div class="container-right">
			  <button id="right" name="like" type="submit" value="like"></button>
			  <span class=liketext>Like this Recipe!</span>
			</div>
		</fieldset>
</form>
<br><br>
</h5>
{% endblock %}