<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://ide50-a12331627.legacy.cs50.io:8080//21/static/styles.css">
<title>FoodieMatch: {% block title %}{% endblock %}</title>

</head>
<body>

{% if session.user_id %}
<div class="navbar">
    <a href="{{ url_for('index') }}">Browse</a>
    <a href="{{ url_for('changerecipe') }}">Change My Recipe</a>
    <a href="{{ url_for('matches') }}">Matches</a>
    <a href="{{ url_for('recipe') }}">Recipe</a>
  <div class="dropdown">
  <button class="dropbtn" onclick="myFunction()">Account
    <i class="fa fa-caret-down"></i>
  </button>
<div class="dropdown-content" id="myDropdown">
    <a href="{{ url_for('account') }}">Settings</a>
    <a href="{{ url_for('logout') }}">Log Out</a>
  </div>
  </div>
 </div>
{% else %}
<div class="navbar">
    <a href="{{ url_for('register') }}">Register</a>
    <a href="{{ url_for('login') }}">Log In</a>
</div>
{% endif %}

{% if get_flashed_messages() %}
    <header>
        <div class="alert alert-info" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
{% endif %}

    <main>
    {% block main %}
    {% endblock %}
            <script>
            /* When the user clicks on the button,
            toggle between hiding and showing the dropdown content */
            function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function(e) {
            if (!e.target.matches('.dropbtn')) {
            var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
            myDropdown.classList.remove('show');
            }
            }
        };
        </script>
    </main>

</body>
</html>

