{% extends "layout.html" %}

{% block title %}
    Matches
{% endblock %}

{% block main %}
<p><b><u>My FoodieMatches:</u></b></p></p>
Eventueel gebruik maken van lightbox:
<a>https://www.w3schools.com/howto/howto_js_lightbox.asp</a><br>
En een tile grid:
<a>https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp</a><br>
Hover effect wanneer over foto gaan:
<a>https://www.w3schools.com/howto/howto_css_image_overlay.asp</a><br>
Eventueel text block:
<a>https://www.w3schools.com/howto/howto_css_image_text_blocks.asp</a><br>
Voor wanneer geklikt en overzicht van recept een sticky foto
<a>https://www.w3schools.com/howto/howto_css_image_sticky.asp</a><br>
En misschien een scroll indicator
<a>https://www.w3schools.com/howto/howto_js_scroll_indicator.asp</a><br>

{% endblock %}
