{% extends "layout.html" %}

{% block title %}
	Matches
{% endblock %}

{% block main %}
<h9>
			<p><b><u>My FoodieMatches:</u></b></p></p><br>
{% for item in recipelist %}
	<div class="matches_screen">
		<br>
		<p>{{ item[0]["title"] }}</p>
		<img src="/{{ item[0]["imageid"] }}" width="700" height="350" class="center">
		<p>{{ item[0]["bio"] }}</p>
		<br>
		<p>Possible allergies: {{ item[0]["tags"] }}</p>
		<br>
		<p>Contact the owner now! :)</p>
		<p>{{ item[0]["email"] }}</p>
		<p>{{ item[0]["name"] }}</p>
		<p>{{ item[0]["town"] }}</p>
	</div>
	<br>
{% endfor %}
</h9>
{% endblock %}