{% extends "layout.html" %}

{% block title %}
    Recipe
{% endblock %}

{% block main %}
    <form action="{{ url_for('recipe') }}" method="post">
        <p1>Please enter your favourite recipe:</p1>
        <fieldset>
            <form action="upload.php" method="post">
                <input type="file" name="image" id="file"/>
            </form>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="title" placeholder="Title" type="text"/>
            </div>
            <div class="form-group">
                <input autocomplete ="off" class="form-control" name="bio" placeholder="Bio" type="text"/>
            </div>
            <div class="form-group">
                <input autocomplete ="off" class="form-control" name="tags" placeholder="Tags" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Register</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
