<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- Resource style -->

	<script src="{{ url_for('static', filename='modernizr.js') }}"></script><!-- Modernizr -->

	<title>FoodieMatch | Register</title>
</head>
<body>
	<header class="cd-header">
		<a href="#0" class="cd-logo"><img src="static/Logo_foodiematch1.png" alt="Logo"></a>
		<a href="#0" class="cd-3d-nav-trigger">
			Menu
			<span></span>
		</a>
	</header> <!-- .cd-header -->
	<br><br><br><br><br><br><br><br>
	<main>
    <h1>
	<p>Please enter your details:</p>
    <form action="{{ url_for('register') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="email" placeholder="E-mail" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="name" placeholder="Name" type="text"/>
            </div>
            <div id="locationField">
				  <input id="autocomplete" placeholder="Enter your address"
				         onFocus="geolocate()" type="text"/>
				</div>

				<table id="address">
				  <tr>
				    <td class="label">Street address</td>
				    <td class="slimField"><input class="field" id="street_number"
				          disabled="true"/></td>
				    <td class="wideField" colspan="2"><input class="field" id="route"
				          disabled="true"/></td>
				  </tr>
				  <tr>
				    <td class="label">City</td>
				    <td class="wideField" colspan="3"><input class="field" id="locality"
				          disabled="true"/></td>
				  </tr>
				  <tr>
				    <td class="label">State</td>
				    <td class="slimField"><input class="field"
				          id="administrative_area_level_1" disabled="true"/></td>
				    <td class="label">Zip code</td>
				    <td class="wideField"><input class="field" id="postal_code"
				          disabled="true"/></td>
				  </tr>
				  <tr>
				    <td class="label">Country</td>
				    <td class="wideField" colspan="3"><input class="field"
				          id="country" disabled="true"/></td>
				  </tr>
				</table>
				<!-- Replace the value of the key parameter with your own API key. -->
				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUlnJVMutaXfzPaEONdaHuqBpJHlMn3tM&libraries=places&callback=initAutocomplete"></script>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Next Step</button>
            </div>
        </fieldset>
	</form>
	</h1>
	</main>

	<nav class="cd-3d-nav-container">
		<ul class="cd-3d-nav">
			<li class="cd-selected">
				<a href="{{ url_for('register') }}">Register</a>
			</li>
			<li>
				<a href="{{ url_for('login') }}">Login</a>
			</li>
		</ul> <!-- .cd-3d-nav -->

		<span class="cd-marker color-1"></span>
	</nav> <!-- .cd-3d-nav-container -->
<script src="{{ url_for('static', filename='jquery-2.1.1.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script> <!-- Resource jQuery -->
<script>
var placeSearch, autocomplete;
var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};

function initAutocomplete() {
  // Create the autocomplete object, restricting the search to geographical
  // location types.
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
      {types: ['geocode']});

  // When the user selects an address from the dropdown, populate the address
  // fields in the form.
  autocomplete.addListener('place_changed', fillInAddress);
}

function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }

  // Get each component of the address from the place details
  // and fill the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    if (componentForm[addressType]) {
      var val = place.address_components[i][componentForm[addressType]];
      document.getElementById(addressType).value = val;
    }
  }
}

// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      var circle = new google.maps.Circle({
        center: geolocation,
        radius: position.coords.accuracy
      });
      autocomplete.setBounds(circle.getBounds());
    });
  }
}</script>
</body>
</html>